#calendar{
    width: 80%;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 35%;
    top: 20%;
    width: 35%;
    height: 60%;
    /* overflow: auto; */
    /* background-color: rgb(30, 156, 201); */
    /* padding-top: 60px; */
}

.modal-content {
    background-color: #fefefe;
    height: 90%;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

